<div class="widget  widget-about-us">
    <div id="carousel-people-pw_about_us-2" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {# <img class="about-us__image" src="{{ 'tarana/at_wotk.jpg'|media }}" alt=""> #}
                <h5 class="about-us__name">{{lang.my_name}}</h5>
                <p class="about-us__description">{{lang.description}} </p>
                <a href="/aboutme" class="read-more  about-us__link">{{lang.read_more}}</a>
            </div>
        </div>
    </div>
</div