<span>
    <div class="carousel slide widget" style="padding: inherit;">
        <div class="carousel-inner lightbox">
            <a href="{{base_url()}}/uploads/insta_scan.jpeg">
                <img class="about-us__image" src="{{base_url()}}/uploads/insta_scan.jpeg" style="max-width:100%">
            </a>
        </div>
    </div>
</span>