<span>
    <div class="carousel slide widget" style="padding: inherit;">
        <div class="carousel-inner lightbox">
            {# <a href="{{ 'messenger_scan.jpeg'|media }}">
                <img class="about-us__image" src="{{ 'messenger_scan.jpeg'|media }}" style="max-width:100%">
            </a> #}
        </div>
    </div>
</span>