<div class="panel-grid row m-b-lg">
    <div class="panel-row-style">
        <div class="col-md-12">
            <div class="so-panel widget widget-testimonials panel-first-child panel-last-child">
                <div class="testimonial grey-wrap">
                    <h2 class="widget-title">{{lang.feedbacks }}</h2>
                    <div class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-12  col-sm-12">
                                        <blockquote>
                                            <p class="testimonial__quote">
                                                We've had a lot of financial troubles over the
                                                years; loss of physical health, job and
                                                bankruptcy. Laura's coaching gave us hope and a
                                                new sense of vision so we can create our lives
                                                together.</p>
                                            <cite class="testimonial__author">
                                                Anastacia Rockafeller</cite>
                                            <div class="testimonial__author-description">
                                                Mother of two.</div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-12  col-sm-12">
                                        <blockquote>
                                            <p class="testimonial__quote">
                                                We've had a lot of financial troubles over the
                                                years; loss of physical health, job and
                                                bankruptcy. Laura's coaching gave us hope and a
                                                new sense of vision so we can create our lives
                                                together.</p>
                                            <cite class="testimonial__author">
                                                Anastacia Rockafeller</cite>
                                            <div class="testimonial__author-description">
                                                Mother of two.</div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>