
{% if feedback is not empty %}
<div class="panel-grid row m-b-lg">
    <div class="panel-row-style">
        <div class="col-md-12">
            <div class="so-panel widget widget-testimonials panel-first-child panel-last-child">
                <div class="testimonial grey-wrap">
                    <h2 class="widget-title">{{lang.feedbacks }}</h2>
                    <div class="carousel slide" data-ride="carousel" data-interval="5000">
                        <div class="carousel-inner" role="listbox">
                            {% for k, feed in feedback %}
                                <div class="item {% if k == 0 %}active{% endif %}">
                                    <div class="row">
                                        <div class="col-xs-12  col-sm-12">
                                            <blockquote>
                                                <p class="testimonial__quote">{{feed.feedbacktext}}</p>
                                                <cite class="testimonial__author">{{feed.feedbackauthor	}}</cite>
                                                <div class="testimonial__author-description">{{feed.authortitle}}</div>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}