 <li {% if is_current_path('dashboard') %} class="active"{% endif %}>
    <a href="{{path_for('dashboard')}}">
        <i class="fas fa-home"></i>Главная страница
    </a>
</li>


<li class="has-sub">
    <a class="js-arrow " href="#">
        <i class="fas fa-cog"></i>Общие настройки
    </a>
    
    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list" style="display:block;">
        <li {% if is_current_path('admin.contacts') %} class="active"{% endif %}>
            <a href="{{path_for('admin.contacts')}}">Контактные данные</a>
        </li>
    </ul>
</li>

 <li {% if is_current_path('admin.aboutme') %} class="active"{% endif %}>
    <a href="{{path_for('admin.aboutme')}}">
        <i class="fas fa-user"></i>Обо мне
    </a>
</li>

 <li {% if is_current_path('admin.media') %} class="active"{% endif %}>
    <a href="{{path_for('admin.media')}}">
        <i class="fas fa-video"></i>Видеофайлы
    </a>
</li>



                


                
               