<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="{{path_for('dashboard')}}">
            <img src="{{base_url()}}/assets/images/logo.png" alt="Tarana Arif" />
        </a>
    </div>
    
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                {% include 'admin/inc/menuitems.twig' %}
            </ul>
        </nav>
    </div>
</aside>