[viewBag]
==
</div>
<div class="footer-gradient"></div>
    
    <footer class="footer">
        
        <div class="footer-top">
            <div class="container  footer-top__divider">
                <div class="row">
                    <div class="col-xs-12  col-md-4">
                        <div class="widget  widget_text">
                            <div class="textwidget">
                                <p>Консультации проводятся в Каспиан Плаза, в Центре Психологии, а также онлайн. <strong>Конфедициальность гарантирована!</strong> Методы c которыми я работаю: aрт-терапия, гештальт-терапия, когнитивная терапия, бихевиорально-поведенческая терапия, НЛП, психоанализ и тд.</p>
                            </div>
                        </div>
                    </div>                
                    <div class="col-xs-12  col-md-4">
                        <div class="widget  widget_text">
                            <h6 class="footer-top__headings">{{'Контактный номер'|_}}</h6>
                            <div class="textwidget">
                                <a class="btn  btn-danger  btn-rounded" href="tel:0775144204" target="_self">
                                    <i class="fa fa-phone"></i> 077 514 42 04
                                </a>
                                
                                <a class="btn  btn-success  btn-rounded" href="https://wa.me/+994775144204/?text=Здравствуйте"  target="_self">
                                    <i class="fa fa-whatsapp"></i> Написать мне в WhatsApp
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12  col-md-4">
                        <div class="widget  widget_text">
                            <h6 class="footer-top__headings">{{'Социальные сети'|_}}</h6>
                            <div class="textwidget">
                <div class="widget  header-widgets__widget  widget-social-icons">
                    
                    <a class="social-icons__link" href="https://www.facebook.com/tarana.alieva.142" target="_blank">
                        <i class="fa  fa-facebook"></i>
                    </a>
                    
                    <a class="social-icons__link" href="https://www.instagram.com/tarana_arif/" target="_blank">
                        <i class="fa  fa-instagram"></i>
                    </a>
                   
                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <div class="container">
                
                <div class="footer-bottom__left">
                    <img src="{{ 'assets/images/logo.png'|theme}}" alt="Tarana Arif" class="footer_logo">
                </div>
                
                <!-- <div class="footer-bottom__right">
                    <div class="footer-bottom__payment-methods">
                        <span>PAYMENT METHODS:</span>
                        &nbsp; &nbsp; &nbsp;
                        <i class="fa  fa-3x  fa-cc-visa"></i>
                        &nbsp;
                        <i class="fa  fa-3x  fa-cc-mastercard"></i>
                        &nbsp;
                        <i class="fa  fa-3x  fa-cc-amex"></i>
                        &nbsp;
                        <i class="fa  fa-3x  fa-cc-paypal"></i>
                    </div>
                </div> -->
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{{ 'assets/js/jquery.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/picturefill.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/magnific-popup.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>
    
    {% framework %}
    {% framework extras %}

</body>
</html>