{% extends 'admin/main.twig' %}
{% block admincontent %} 

<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">Добавить услугу</h2>
        </div>
    </div>
</div>

<div class="row m-t-10">
    <div class="col-md-12">
        {% include 'include/flash.twig' %} 
    </div>
</div>

<div class="row m-t-10">
    
    <div class="col-lg-12">
            <div class="card">
            <form action="{{path_for('admin.addservice')}}" method="post" enctype="multipart/form-data">
                
                <div class="card-header">
                   Форма <strong>добавления</strong>
                </div>

                <div class="card-body card-block">

                    <div class="file-upload">

                        <div class="image-upload-wrap" {% if aboutme.pageimage %} style="display:none;" {% endif %}>
                            <input class="file-upload-input" type='file' name="pageimage" onchange="readURL(this);" accept="image/*" >
                            <div class="drag-text">
                            <h3>Перетащите или нажмите чтобы выбрать фото</h3>
                            </div>
                        </div>
                        
                        <div class="file-upload-content" {% if aboutme.pageimage %} style="display:block;" {% endif %}>
                            <img class="file-upload-image" src="{% if aboutme.pageimage %}{{base_url()}}/uploads/{{aboutme.pageimage}}{% else %}#{% endif %}" alt="your image" />
                            <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload()" class="btn btn-danger" id="postimage" >Удалить это фото</button>
                            </div>
                        </div>

                    </div>

                        <ul class="nav nav-tabs m-t-20" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">На Русском</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">На Азербайджанском</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                        
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="form-group m-t-20">
                                    <label for="company" class=" form-control-label">Название на 
                                    <strong>Русском</strong></label>
                                    <input type="text" 
                                            class="form-control" 
                                            name="pagetitle_ru">
                                </div>
                                <div class="form-group">
                                    <label for="nf-mobile" class=" form-control-label">Короткий текст на 
                                    <strong>Русском</strong></label>
                                    <textarea name="shorttext_ru" 
                                            rows="3" 
                                            class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="nf-mobile" class=" form-control-label">Основной текст на 
                                    <strong>Русском</strong></label>
                                    <textarea name="text_ru" 
                                            rows="6" 
                                            class="form-control summernote"></textarea>
                                </div>

                            </div>
                        
                        
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="form-group  m-t-20">
                                    <label for="company" class=" form-control-label">Название на 
                                    <strong>Азербайджанском</strong></label>
                                    <input type="text"  
                                        class="form-control" 
                                        name="pagetitle_az">
                                </div>
                                <div class="form-group">
                                    <label for="nf-mobile" class=" form-control-label">Короткий текст на 
                                    <strong>Азербайджанском</strong></label>
                                    <textarea name="shorttext_az" 
                                            rows="3" 
                                            class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="nf-landline" class=" form-control-label">Основной текст на <strong>Азербайджанском</strong></label>
                                    <textarea name="text_az" 
                                            rows="6" 
                                            class="form-control summernote"></textarea>
                                </div>


                            </div>
                        </div>
                        

                </div>
                
                <input type="hidden" name="pagetype" value="service">
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Сохранить
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}